

<style type="text/css">
body, td {
      background-color: white;
   font-size: 13px;
}

body {
    font-family: Arial, "MS Trebuchet", sans-serif;
  max-width: 800px;
  margin: auto;
  line-height: 20px;
}

tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

h1 { 
   font-size:1.8em;
   margin: 60px 0px 20px 0px; 
   text-transform: uppercase;
   color: #004973;
}

h2 { 
   font-size:1.4em; 
   color: #005586;
}

h3 { 
   font-size:1.2em; 
}

h4 { 
   font-size:1.0em; 
}

h5 { 
   font-size:0.9em; 
}

h6 { 
   font-size:0.8em; 
}

a { 
     color: #004973;
     border-bottom: solid 1px #0079BF;
     text-decoration: none;
    }
  
    a:visited {
        color: rgb(50%, 0%, 50%);
    }
    
    a:hover {
          color: #0079BF;
      }

pre, img {
  max-width: 100%;
}

pre code {
   display: block; padding: 0.5em;
}

code {
  font-size: 92%;
  border: 1px solid #ccc;
}

code[class] {
  background-color: #F8F8F8;
}

.firstline {
    background-color: #A6A6A6;
    border-collapse: collapse;
}

table {
  border-collapse: collapse;
  border-bottom: 2px solid #3394CC;
  color: #3E3E3E;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}


th{
    background-color: #66AFD9;
    border: 1px solid #3394CC;
    text-align: center;
    padding: 0.5rem;
    color: #000000;
}

td {
  border: 1px solid #EAEAEA;
  padding: 0.5rem;
  text-align: right;
  color: #949494;
}

tbody tr:nth-child(odd) {
    background: #F8F8F8;
}

table tr:hover td {
  color: #000000;
}


blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}

hr {
   height: 0px;
   border-bottom: none;
   border-top-width: thin;
   border-top-style: dotted;
   border-top-color: #999999;
}

ul {
    list-style-type: circle;
    padding: 0px;
    margin: 0px 0px 20px 40px;
}

ul li {
     padding-left: 10px; 
     margin: 0px 0px 10px 0px;
}



@media print {
   * { 
      background: transparent !important; 
      color: black !important; 
      filter:none !important; 
      -ms-filter: none !important; 
   }

   body { 
      font-size:12pt; 
      max-width:100%; 
   }
       
   a, a:visited { 
      text-decoration: underline; 
   }

   hr { 
      visibility: hidden;
      page-break-before: always;
   }

   pre, blockquote { 
      padding-right: 1em; 
      page-break-inside: avoid; 
   }

   tr, img { 
      page-break-inside: avoid; 
   }

   img { 
      max-width: 100% !important; 
   }

   @page :left { 
      margin: 15mm 20mm 15mm 10mm; 
   }
     
   @page :right { 
      margin: 15mm 10mm 15mm 20mm; 
   }

   p, h2, h3 { 
      orphans: 3; widows: 3; 
   }

   h2, h3 { 
      page-break-after: avoid; 
   }
}
</style>
